# Files
nowiki-20210101-pages-articles.xml
nowiki-20210111-cirrussearch-general.json
Wikipedia-20210117201724.xml
out/

# IDEs
profile_default/
ipython_config.py
.ipynb_checkpoints

# Python environments
.venv
.venv-wsl