html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.appContainer {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.appContainer hr {
  width: 100%;
}

.playContainer {
  max-width: 22rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .appContainer {
    margin-top: 2rem;
  }
}